{
    "presets": ["@babel/preset-env","@babel/preset-react"]
}
// 1번째 시도
// "presets": ["env", "react", "stage-1"]
// 2번째 시도
        // "presets":[
        //     ["@babel/env", {
        //         "target":{
        //             "browsers": "last 2 Chrome versions",
        //             "node": "current"
        //         }
        //     }],
        //     "@babel/react",
        //     "react-optimize"
        // ],
        // "plugins":[
        //     "@babel/transform-runtime",
        //     ["babel-plugin-root-import", {
        //         "rootPathSuffix": "."
        //     }]
        // ]